$blue: #324157;
$light-blue: #45a1ff;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;
$nav_menu_height: 46px;
$left_menu_width: 40px;
$right_menu_width: 220px;

$head_nav_height: 36px;

//border
//$border-color: #ccc;
$border-color: #ababab;
$table-striped-color: #f2f2f2;

$around-padding: 10px;
$input-padding: 10px;

$table-font-size:12px;  //薪酬管理 12  流程审批 14
